@font-face {
  font-family: Alphabet;
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Far_Alphabet.ttf');
  src: url('../fonts/Far_Alphabet.ttf') format('embedded-opentype'), url('../fonts/Far_Alphabet.ttf') format('woff2'), url('../fonts/Far_Alphabet.ttf') format('woff'), url('../fonts/Far_Alphabet.ttf') format('truetype');
}
@font-face {
  font-family: Digital;
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Far_Digital_Arabia.ttf');
  src: url('../fonts/Far_Digital_Arabia.ttf') format('embedded-opentype'), url('../fonts/Far_Digital_Arabia.ttf') format('woff2'), url('../fonts/Far_Digital_Arabia.ttf') format('woff'), url('../fonts/Far_Digital_Arabia.ttf') format('truetype');
}

.backgoldwh{background:#ffbd4a !important;}
.backgreenwh{background:#99e265 !important;}
.backredwh{background:#ff5c5c !important;}
.backbluewh{background:#2eb2ff !important;}
.cgoldwh{color:#ffbd4a !important;}
.cgreenwh{color:#99e265 !important;}
.credwh{color:#ff5c5c !important;}
.cbluewh{color:#2eb2ff !important;}

.button{background:#ff5c5c;color:#000 !important;padding:0.5% 2%;border-radius: 5px;}
.button:hover{background:transparent;color: #ff5c5c !important;border: 1px solid #ff5c5c;transition: .4s;text-decoration: none;}

.alphabet{font-family: Alphabet}
.digital{font-family: Digital}

.parallax {
  background-image: url("../images/pexels-photo-2.png");min-height: 300px; 
  background-attachment: fixed;background-repeat: no-repeat;background-size: 100%;
}
.container{max-width: 90%;width: 90%;}
.row{width: 100%;margin: 0%;}
body{font-family:Digital;direction: rtl}

/* -- breadcrumbs -- */

.breadcrumbs ul{padding: 0%;width: 100%;text-align: right;border-bottom: 1px solid #999;padding-bottom:2px}
.breadcrumbs li{display: inline;color: #999}
.breadcrumbs li a{color: #999;text-decoration: none}
.breadcrumbs li a:hover{color:#ff5c5c;text-decoration: none;transition: .4s}
.breadcrumbs .homebreadcrumbs{margin: 0% !important}
.breadcrumbs .flaticon{font-size:1vw}

/* -- slider -- */

.slider .heading-box h2{ width:100%; color: red; }
.slider h2,.slider p{color:#fff;}
.slider .carousel-item img{width:100%;}
.slider .text-box {position: absolute;top: 50%;left: 15%;right: 15%;color: #000;transform: translateY(-50%);}
.slider .slideInRight{font-family:Alphabet}
.slider .slideInLeft{font-size: 20px;direction: rtl;}
.slider .hhh{background: rgba(0, 0, 0, 0.5);border-radius:0px 20px;padding: 1.5% 2%;}
.slider .p{font-size: 1vw}
.h2{font-size: 2vw}

/* -- nav -- */

.login{position: absolute;z-index: 1;width: 100%;}
.login li{display: inline;margin-left: 1%}
.login ul{padding: 0.5% 0% 0% 1.5%}
.login a{color: #FFF;text-decoration: none}
.login .flaticon{font-size: 3vw}
.transparent{background: transparent;padding: 0%;color: #fff;margin-top: -15px}
.iconnav{
	font-size:3vw;cursor: pointer;float: right;position: absolute;
	right: 0%;z-index: 11;color: #FFF;padding: 0.5% 2%;}
.overlay {
	height: 100%;width: 0;position: fixed;z-index:111;background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);overflow-x: hidden;transition: 0.5s;top: 0;left: 0;
}
.overlay-content {position: relative;top: 25%;width: 100%;text-align: center;margin-top:-7%;}
.overlay a {padding: 8px;text-decoration: none;font-size: 36px;color: #818181;display: block;transition: 0.3s;}
.overlay a:hover, .overlay a:focus {color: #f1f1f1;}
.overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 3vw;}
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {font-size: 3vw;top: 15px;right: 35px;}
}

/* -- services -- */
.services{padding: 1% 0%;background:#eee;text-align: center;box-shadow: 0 0 10px #a3a3a3;}
.services .image{text-align: center}
.services img{width: 25%}
.services .p{font-size: 1.5vw;margin-top: 3%;color: #999;}
.services .h2{position: absolute;width: 100%;margin-top: 1%;color: #fff !important}

/* -- sample-e -- */
.sample-e{padding:2% 0% 0%;text-align: center}
.sample-e img{width: 100%}
.sample-e .h2{position: absolute;width: 100%;margin-top: 1%;color: #fff !important}
.sample-e .sample-a{margin-top: 1%;padding-left: 2%;text-decoration: none;width: 100%;text-align: left;color: #ff5c5c;font-size: 1.25vw;}

.box20,.box20 .icon li a{overflow:hidden}
.box20 {box-shadow:0 0 10px #a3a3a3;border-radius: 10px;margin-bottom: 10px;}
.box20 .post,.box20 .title{text-transform:capitalize; width:60%;}
.box20{position:relative}
.box20:after,.box20:before{position:absolute;content:""}
.box20:before{width:80%;height:220%;background:#0062b2;top:-50%;left:-100%;z-index:1;transform:rotate(25deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box20.blue:before{background:#000!important;}
.box20:hover:before{left:10%}
.box20:after{width:55%;height:175%;background-color:rgba(0,0,0,.4);bottom:-1000%;left:53%;transform:rotate(-33deg);transform-origin:center bottom 0;transition:all .8s ease 0s}
.box20 .box-content,.box20 .icon{width:100%;padding:0 20px;position:absolute;left:0;z-index:2;transition:all 1.1s ease 0s}
.box20:hover:after{bottom:-70%}
.box20 img{width:100%;height:auto}
.box20 .box-content{top:-100%;color:#fff}
.box20:hover .box-content{top:30px}
.box20 .title{font-size:20px;margin-right: 40%;}
.box20 .icon li a,.box20 .post{display:inline-block;font-size:14px}
.box20 .post{margin-top:5px}
.box20 .icon{list-style:none;margin:0;bottom:-100%}
.box20:hover .icon{bottom:25px}
.box20 .icon li{display:inline-block}
.box20 .icon li a{width:35px;height:35px;line-height:35px;background:#ff0000;border-radius:50%;margin:0 3px;color:#fff;text-align:center;transition:all .5s ease 0s}
.box20 .icon li a:hover{background:#fff;}
.icon {display:inline-block;height:60px;width:auto;}
.fas {font-size:32px;background-color:rgba(0,0,0,.1);border-radius:100px;height:55px;width:55px;line-height:55px;display:inline-block;vertical-align:middle;text-align:center;}
.circle-icon {background: rgba(0,0,0,.1);width: 66px;height: 66px;border-radius: 50%;text-align: center;line-height: 50px;vertical-align: middle;padding: 15px;}
h2.sector {font-size:26px;color:#555555;}

@media only screen and (max-width:990px){
    .box20{margin-bottom:30px}
    .box20 .title{font-size:16px}
}
@media only screen and (max-width:479px){.box20 .title{font-size:16px}
}
.sample-e .button{text-align: left;float: left;margin-top:2%;}
.footerBG{
  background-image: url("../images/sky-2.png");min-height: 300px;background-size: 100%;
  background-attachment: fixed;background-repeat: no-repeat;background-size: 100%;
}
#amintion {width: 100%;padding: 50px 0;}
.text {margin-top: 8%;text-align: center;display: block;overflow: hidden;}
.text h1 {color: white;font-size: 69px;margin-bottom: 2%;font-weight: 600;}
.text h2 {color: white;font-size: 37px;word-spacing: 11px;margin-bottom: 10px;}
.text a {
  background: red;color: white;font-size: 16px;padding: 12px 43px;
  margin-top: 10px;display: inline-block;border-radius: 6px;font-weight: 400;
}
/************************box-section***************************************/
#box {margin-bottom: 50px;display: block;overflow: hidden;}
.box-1 {display: block;text-align: center;}
.box-1 h4 {margin-top: 21px;font-size: 22px;word-spacing: 8px;}
.Read.more {background: red;padding: 13px 0px;color: white !important;margin-top: 20px;display: block;font-size: 20px;cursor: pointer;}
/*************************************SECTION-NAME*******************************************/
#name {display: block;overflow: hidden;text-align: center;margin-top: 50px;}
  #name h1 {color: red;font-size: 48px;font-weight: 600;}
/* -- footer -- */

.search-text{margin-top:-1px;background-color:#292b7a;padding-top:2%;padding-bottom:2%;}
.search-text .input-search{height: 45px;width: 400px;padding-right: 20px;font-size: 1.25vw;
  color: #000;border-radius: 0px 15px 15px 0px;border: 0px;background: #999
}
.search-text .btn-search{
  background-color: #999;border: 1px solid #999;color: #000;
  padding: 9px 15px;border-radius: 15px 0px 0px 15px;font-size: 1.25vw;
}
.search-text  .btn-search:hover{background-color:transparent;color:#999;transition: .4s}
.copyright{background-color:#222222;}
.copyright p{margin:15px 0px;width: 100%;}
footer{background-color:#222222;padding: 30px 0px;}
.footer li{display: inline;}
footer .menu li a{color:#b1aca1;padding:10px;text-decoration:none;font-size: 1.5vw}
footer .menu li a:hover{color:#7dabdb;}
.footer .list-inline img{width: 4%;margin: 0% 2%;}
/* -- contact -- */

.contact {padding: 1% 4%;}
.contact .thm-container {width: 100%;max-width: 1200px;padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto;display: block;}
.contact .contact-form-content { background: #F5F6FA; padding:3% 6%;box-shadow: 0 0 10px #a3a3a3;border-radius: 10px;}
.contact .thm-container .title { margin-bottom: 50px;}
.contact .thm-container .title span {font-size: 15px;color: #FF4328;}
.contact .thm-container .title h2 { color: #212121;font-size: 60px;line-height: 60px;font-weight: bold;}
.contact .contact-form textarea {height: 182px;padding-top: 20px;}
.contact .contact-info {padding:6% 6%;background: #f5f6fa;height: 100%;box-shadow: 0 0 10px #a3a3a3;border-radius: 10px;}
.contact .single-contact-info h4 {color: #212121;font-size: 18px;font-weight: 500;margin-bottom: 10px;}
.contact .contact-info .social a.fa-twitter {background: #FEC931;}
.contact .contact-info .social a.fa-pinterest {background: #212121;}
.contact .contact-info .social a.fa-facebook-f {background: #2884C6;}
.contact .contact-info .social a.fa-youtube {background: #FF4328;}
.contact .contact-form textarea {
  border: none;outline: none;width: 100%;margin-bottom: 20px;display: block;
  border-radius: 10px;background: #fff;color: #757575;font-size: 16px;padding-right: 50px;
}
.contact .contact-info .social a {
  width: 50px;height: 50px;border-radius: 50%;color: #fff;font-size: 18px;line-height: 59px;
  text-align: center;line-height: 50px;margin-top: 10px;display:inline-block;margin:0px;
}
.contact .thm-btn {
  outline: none;display: inline-block;vertical-align: middle;background:green;color: #fff;border-radius:10px;
  font-weight: 500;font-size: 16px;padding:.5% 5% 1%; -webkit-transition: all .4s;transition: all .4s;border: none;
}
.contact .thm-btn:hover{background: transparent;color: green;border: 1px solid green;transition: .4s;}
.contact .contact-form input{
  border: none;outline: none;width: 100%;height: 50px;margin-bottom: 20px;display: block;
  border-radius: 10px;background: #fff;color: #757575;font-size: 16px;padding-right: 50px;
}