	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/05/2019 15:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-left-arrow:before { content: "\f100"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-scientist:before { content: "\f103"; }
.flaticon-phone-symbol-of-an-auricular-inside-a-circle:before { content: "\f104"; }
.flaticon-smartphone:before { content: "\f105"; }
.flaticon-placeholder:before { content: "\f106"; }
.flaticon-keyhole:before { content: "\f107"; }
.flaticon-enter:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-menu:before { content: "\f10a"; }
.flaticon-cancel:before { content: "\f10b"; }
.flaticon-error:before { content: "\f10c"; }